.background-dark {
	background: url('img/background-dark.png');
	background-repeat: repeat;
}

.background-light {
	background: url('img/background-light.png');
	background-repeat: repeat;
}

.background-strange-aeons {
	background: url('img/background-left.gif');
	background-repeat: repeat;
}

.background-a-closetful-of-scares {
	background: url('img/wardrobe.gif');
	background-repeat: repeat;
}

a {
  color: #00ffff;
}

.a-light {
  color: hsl(283, 100%, 71%);
}

body {
	max-width: 800px;
  margin: 100px auto 100px auto;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.body-dark {
	color: white;
	background: black;
}

.body-light {
	color: black;
	background: white;
}

.body-strange-aeons {
	color: yellow;
	background: black;
  border-width: 8px;  
  border-style: ridge;
  border-color: cyan;
  font-family: 'StrangeAeons';
}

.body-acos {
	color: yellow;
	background: black;
  border-width: 8px;
  border-image: url("img/bloodline.gif") 24 / 24px;
}

.body-works {
	color: yellow;
	background: black;
  border-width: 8px;  
  border-style: ridge;
  border-color: lime;
}

img {
  margin: auto 20px auto 20px;
}

.photo {
  margin: auto 20px auto 20px;
  max-height: 300px;
}

.small-photo {
  margin: auto 20px auto 20px;
  max-height: 110px;
}

.breaking-line-img {
  display: block;
  padding-top: 20px;
}

.game-art {
  max-width: 350px;
}